:root {
  font-family: Arial, sans-serif;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  font-size: 16px;

}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: black;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #5ec7da;
}
main {
  margin-left: 5rem;
  padding: 1rem;

}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: 200ms ease-in-out;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;

}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 2rem; /* DINAGDAG KO TO HAHA, pero idk pano palakihin ung icon initially */
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.navlink svg {
  min-width: 2rem;
  margin: 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.link-text {
  display: none;
}

.fa-primary {
  color: #5e98da;
}

.fa-secondary {
  color: #198ea3;
}

.fa-primary, .fa-secondary {
  transition: 600ms;
}
aside {
  width: 100  rem;
  padding: 7rem;
}

.svg-inline--fa {
  width: 25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.items {
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  text-align: center;
}