:root {
  font-family: Arial, sans-serif;
  --bg-primary: #ffffff;
  --bg-secondary: #f1f1ff;
  --text-primary: #019fa2;
  --text-secondary: #0e436b;
  --gradient-primary: #019fa2;
  --gradient-secondary: #0e436b;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: black;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #5ec7da;
}

main {
  margin-left: 5rem;
  padding: 1rem;

}

.menu {
  /* background-image: url(https://www.hirayawater.com/img/rainsplash.685a8d53.png); */
  background: linear-gradient(to bottom, white, #c5ece9, white);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: 200ms ease-in-out;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;

}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-left: 2rem; /* DINAGDAG KO TO HAHA, pero idk pano palakihin ung icon initially */
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.95);
  transition: 600ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.navlink svg {
  min-width: 2rem;
  margin: 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.link-text {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.fa-primary {
  color: #5e98da;
}

.fa-secondary {
  color: #198ea3;
}

.fa-primary, .fa-secondary {
  transition: 600ms;
}
aside {
  width: 100  rem;
  padding: 7rem;
}

.svg-inline--fa {
  width: 25%;
}

.box {
  width: 12rem;
  height: 16rem;
  background: linear-gradient(to bottom, var(--gradient-primary), var(--gradient-secondary));
  display: inline-block;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;

}
.rectangle {
  width: 40rem;
  height: 240px;
  background-color: var(--gradient-secondary);
  margin: 10px;
  margin-left: 15rem;
  margin-right: auto;
  display:block;
  border: 5px solid white;
  border-radius: 10px;

}

.text-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}